<!DOCTYPE html>
<html>

<head>
  <title>Mongoose-Flights New Flight</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>Enter a New Flight</h2>
  <form action="/new" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>FlightNo:
      <input type="number" name="flightNo">
    </label><br>
    <label>Departure:
      <input type="datetime-local" name="departs">
    </label><br>
    <input class="submitInput" type="submit" value="Add Flight">
  </form>
</body>

</html>