<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(t, idx) { %>
        <li>
          <a href="/skills/<%= idx %>"><%= t.name %></a>
          <p><%= t.desc %></p>
          <form action="/skills/<% idx %>?_method=DELETE" id="delete-form" method="POST">
            <button type="submit">DELETE SKILL | X</button>
          </form>
            
        </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add A New Skill</a>
  </body>
</html>
 