

    <form action="/skills" id="add-skills-form" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>desc:</label>
        <input type="text" name="desc">
        <input type="submit" value="Add New Skill">
    </form>
    
    <div><a href="/skills">Go Back TO Skills</a></div>

    