<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Skills #<%= skillNum %></h1>
        <h3><%= skills.name %></h3>
        <p><%= skills.desc %></p>
        <a href="/skills/<%= skillNum - 1 %>/edit">Edit skill</a>
</body>
</html>
